

@{
    ViewBag.Title = "AdminDashboard";
}



<div class="container-fluid padding">

    <div class="logo text-center">

        <img src="" />
    </div>

    <h1 class="display-4">Admin DashBoard</h1>

    <div class="panel">

        <div class="panel-body">




        </div>

    </div>

</div>
